<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テキストRPGゲーム</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>テキストRPGゲーム</h1>
    <hr>
    
    <form method="post" action="/start">
        <textarea name="name" required></textarea>
        <button type="submit">
            ゲームスタート
        </button>
    </form>
    <form method="post" action="/lode">
        <button type="submit">
            ロード
        </button>
    </form>


</body>
</html>